# build artifacts
build/
.eggs/
tests/.eggs/
*.egg-info/
dist/
__pycache__/
doc/_build/
*.pyc
.coverage
*test*.ipynb
*.env
*.ipynb_checkpoints/*
*.log
/snews_cs/hop_sub.py
/snews_cs/slack_alert.py
/snews_cs/etc/test-config.env
firedrill.ipynb
server_run_me.py
*.db
*.sqlite
